.header {
    background-color: #e3e3e3;
    border-bottom: 1px solid #e5e5e5;
    min-width: 1000px;
    padding: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-both {
    clear: both;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #e5e5e5;
    min-width: 98%;
    padding-left: 10px;
    bottom: 0;
    color: #888;
    position: fixed;
    padding-bottom: 5px;
}

.main {
    height: 600px;
    max-height: 600px;
    overflow: auto;
}

.add-behaviour, .add-student {
    margin: 0 auto;
    padding-top: 50px;
    width: 500px;
}

.links {
    padding-top: 20px;
}

.links a {
    padding: 10px;
}

.student-list table {
    width:70%;

}

.student-list table, .student-list th, .student-list td {
    border: 1px solid black;
    border-collapse: collapse;
}

.student-list th, .student-list td {
    padding: 5px;
    text-align: left;
}

.student-list table tr:nth-child(even) {
    background-color: #eee;
}

.student-list table tr:nth-child(odd) {
   background-color:#fff;
}

.student-list table th{
    background-color: black;
    color: white;
}

